[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"
aiosqlite = "*"
greenlet = "*"
pydantic = "*"
pydantic-settings = "*"
numpy = "*"
python-dotenv = "*"
apscheduler = "*"
structlog = "*"
python-dateutil = "*"
forex-python = "*"
yfinance = "*"
pandas = "*"
httpx = "*"
beautifulsoup4 = "*"
argcomplete = "*"
sqlglot = "*"
pycountry = "*"
mkdocs = "*"
mkdocs-material = "*"
websockets = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
gevent = "*"

[requires]
python_version = "3.13"
